<div class="task-block" id="taskBlock{{task.id}}" [ngClass]="{completed: isChecked, notCompleted: !isChecked}" *ngIf="!isDelete">
  <input type="checkbox" class="checkbox" id="checkbox{{task.id}}"
         (change)="isCompleted($event, task.id)"
         [checked]="task.done"
  >
  <p id="taskName{{task.id}}" *ngIf="!isEdit">{{task.taskName}}</p>

  <div class="buttons-group default-buttons" id="defaultButtons{{task.id}}" [ngClass]="{isHidden: isEdit}">
    <button class="btn btn-light" id="editTask{{task.id}}" (click)="editTask()"><img src="../../../../assets/images/edit.svg" alt="Edit"></button>
    <button class="btn btn-light" id="deleteTask{{task.id}}" (click)="deleteTask(task.id)"><img src="../../../../assets/images/delete.svg" alt="Delete"></button>
  </div>
  <div class="buttons-group edit-task" id="editButtons{{task.id}}" [ngClass]="{isVisible: isEdit}">
    <input type="text" class="edit-task-input form-control" id="editTaskField{{task.id}}" (keydown.enter)="saveEdit(task.id)" (keydown.escape)="cancelEdit()" name="name" [(ngModel)]="editTaskField">
    <button class="btn btn-light" (click)="saveEdit(task.id)"><img src="../../../../assets/images/confirm.svg" alt="Save"></button>
    <button class="btn btn-light" (click)="cancelEdit()" ><img src="../../../../assets/images/cancel.svg" alt="Cancel"></button>
  </div>
</div>




