<div class="tasks-block">
  <h2>Tasks<span id="listNameText" *ngIf="getListData.isListChosen">, in {{getListData.currentListName}}</span></h2>
  <p id="tasksHint" *ngIf="!getListData.isListChosen || getListData.isListDelete">Choose or create list</p>
  <div id="task-container" *ngIf="getListData.isListChosen || !getListData.isListDelete" [class.isHidden]="getListData.isFirstLoad">

    <div id="task{{task.id}}" class="task" *ngFor="let task of tasks">
      <app-task
        [task]="task"
        [tasks]="tasks"
        [currentListId] = 'getListData.currentListId'
        *ngIf="getListData.currentListId === task.listId"
      ></app-task>
    </div>

    <div class="add_task" id="addTask">
      <app-form
        (onSubmit)="onSubmitTask($event)"
        name="task"
      ></app-form>
    </div>
  </div>
</div>
