p
  margin-bottom: 0
.edit-task
  display: none
.checkbox
  margin: 0 0 5px 5px

.task-block
  display: flex
  justify-content: space-between
  align-items flex-end
  width: 100%
  height: auto
  margin: 10px 0
  &>p
    margin-left: 10px
    margin-right: auto


.completed
  &> p
    color #ababab!important
    text-decoration: line-through!important
.notCompleted
  &> p
    color #000000
    text-decoration none

.isVisible
  display: flex
.isHidden
  display: none

.edit-task-input
  height: auto
  padding: 0 5px!important

