<div class="task-block" id="taskBlock{{task.id}}" [class.completed]="task.done" [class.notCompleted]="!task.done">
  <input type="checkbox" class="checkbox" id="checkbox{{task.id}}"
         (change)="isCompleted($event, task.id)"
         [checked]="task.done"
  >
  <p id="taskName{{task.id}}" >{{task.taskName}}</p>
  <div class="buttons-group" id="defaultButtons{{task.id}}">
    <button class="btn-primary" id="editTask{{task.id}}" (click)="editTask(editTaskField, task.id)">Edit</button>
    <button class="btn-primary" id="deleteTask{{task.id}}" (click)="deleteTask(task.id)">Delete</button>
  </div>
  <div class="edit-task buttons-group" id="editButtons{{task.id}}">
    <input type="text" id="editTaskField{{task.id}}" (keydown.enter)="saveEdit(editTaskField, task.id)" (keydown.escape)="cancelEdit(task.id)" #editTaskField>
    <button class="btn-primary" (click)="saveEdit(editTaskField, task.id)">Save</button>
    <button class="btn-primary" (click)="cancelEdit(task.id)">Cancel</button>
  </div>
</div>




