.wrapper {
  width: 100%;
  height: auto;
}
.container {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}
img {
  width: 60%;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.not-found-link {
  color: #b60200;
}
.del {
  width: 100%;
}
