ul
  list-style none
  padding: 0
li
  border-bottom 1px solid gray
  transition 0.3s ease
  background-color transparent
  text-align: center
  padding-left: 10px
  &:hover
    background-color #f8f8f8
    cursor pointer


app-list
  display: flex
  align-items: center
  justify-content: space-between

