<div class="wrapper">
  <div class="container">
    <h1>{{ title }}</h1>
    <hr>
    <main>

      <app-list-container
        (getListData)="getListData($event)"
      ></app-list-container>

      <app-task-container
        [getListData]="{
          'currentListId': currentListId,
          'currentListName': currentListName,
          'isListChosen': isListChosen,
          'isListDelete': isListDelete,
          'isFirstLoad': isFirstLoad
        }"
      ></app-task-container>

    </main>
  </div>
</div>
