<div class="wrapper">
  <div class="container">
    <h1>{{ title }}</h1>
    <hr>
    <main>
      <div class="lists-block">
        <h2>Lists</h2>
        <ul>
          <li *ngFor="let list of lists" id="list{{list.id}}" (click)="chooseList(list.id, list.listName)">
            <app-list
              [list]="list"
              [lists]="lists"
              [currentListId] = "currentListId"
              (onDelete)="onDelete($event)"
            ></app-list>
          </li>
        </ul>

        <div class="add-list" id="addList">
          <app-form
            (onSubmit)="onSubmitList($event)"
            name="list"
          ></app-form>
        </div>
      </div>

      <div class="tasks-block">
        <h2>Tasks<span id="listNameText" *ngIf="isListChosen">, in {{currentListName}}</span></h2>
        <p id="tasksHint" *ngIf="!isListChosen || isDelete">Choose or create list</p>
        <div id="task-container" *ngIf="isListChosen || !isDelete" [class.isHidden]="firstLoad">
          <div id="task{{task.id}}" class="task" *ngFor="let task of tasks">
            <app-task
              [task]="task"
              [tasks]="tasks"
              [currentListId] = 'currentListId'
              *ngIf="currentListId===task.listId"
            ></app-task>
          </div>
          <div class="add_task" id="addTask">
            <app-form
              (onSubmit)="onSubmitTask($event)"
              name="task"
            ></app-form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
