.wrapper
  width: 100%
  height: auto
.container
  width: 90%
  height: auto
  margin: 0 auto
main
  display: flex
  justify-content: space-between
.lists-block
  width: 30%
.tasks-block
  width: 65%


app-task
  display: flex
  justify-content: space-between
  align-items flex-end
  width: 100%
  height: auto
  margin: 10px 0

ul
  list-style none
  padding: 0
li
  border-bottom 1px solid gray
  transition 0.3s ease
  background-color transparent
  text-align: center
  &:hover
    background-color #d2d2d2
    cursor pointer

#task-container
  display: none





















.del
  width: 100%
