ul {
  list-style: none;
  padding: 0;
}
li {
  border-bottom: 1px solid #808080;
  transition: 0.3s ease;
  background-color: transparent;
  text-align: center;
  padding-left: 10px;
}
li:hover {
  background-color: #ececec;
  cursor: pointer;
}
app-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chosen {
  background-color: #7a93ff;
}
.notChosen {
  background-color: transparent;
}
